/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

p a {
    text-decoration: none;
}

#copyright p {
    font-size: 13px;
}

table th,
table td,
table button {
    font-size: 14px !important;
}

h1 {
    font-size: 36px !important;
}

h2 {
    font-size: 30px !important;
}

h3 {
    font-size: 20px !important;
}

h4 {
    font-size: 20px !important;
}

a {
    color: #030068;
}

a:hover {
    color: #030068;
    opacity: 0.75;
}

/* Visual Views */
.min-vh-75 {
    min-height: 75vh !important;
}

.max-vh-75 {
    max-height: 75vh !important;
}

.width-fit-content {
    width: fit-content;
}

/* Backgrounds */
.gray-bg {
    background-color: #f2f2f2;
}

.dark-blue-bg {
    background-color: #030068;
}

.table > thead {
    vertical-align: bottom;
}

.dark-blue-bg {
    background-color: #030068 !important;
}
.table-dark {
    --bs-table-bg: #030068;
    color: #fff;
    border-color: #030068;
}

/* Buttons */
.btn-dark-blue-bg {
    background-color: #030068;
    color: #fff;
    font-size: 15px;
}

.btn-dark-blue-bg:hover {
    background-color: #030068;
    color: #fff;
    opacity: 0.75;
}

.b-example-divider {
    width: 1.5rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
    vertical-align: -0.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: #0d6efd;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='none' stroke='rgba%28255,255,255,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/></svg>");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #0d6efd;
}

/* Admin Template */
#sidebar {
    width: 280px;
}

#content-next-sidebar {
    margin-left: 280px;
    width: fit-content;
}
