/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Maven Pro", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

p a {
    text-decoration: none;
}

#copyright p {
    font-size: 13px;
}

h1 {
    font-size: 36px !important;
}

h2 {
    font-size: 30px !important;
}

h3 {
    font-size: 20px !important;
}

h3.px25 {
    font-size: 25px !important;
}

h4 {
    font-size: 20px !important;
}

a {
    color: #030068;
}

a:hover {
    color: #030068;
    opacity: 0.75;
}

.list-courses {
    font-size: 20px;
    line-height: 1.8em;
}

/* Visual Views */
.min-vh-75 {
    min-height: 75vh !important;
}

.max-vh-75 {
    max-height: 75vh !important;
}

.img-max-width-150 {
    max-width: 150px;
    display: block;
    margin: auto;
}

/* Buttons */
.btn-dark-blue-bg {
    background-color: #030068;
    color: #fff;
    font-size: 15px;
}

.btn-dark-blue-bg:hover {
    background-color: #030068;
    color: #fff;
    opacity: 0.75;
}

/* Backgrounds */
.gray-bg {
    background-color: #f2f2f2;
}

.dark-blue-bg {
    background-color: #030068;
}

.dark-blue-border {
    border-color: #030068 !important;
}

.red-bg {
    background-color: #f60103;
}

.services-bg {
    background-image: url("../img/services-bg.jpg");
}

/* Opacities */
.opacity-100 {
    opacity: 1;
}

/* Spacing */
body {
    margin-top: 95px;
    display: flow-root;
}

.anchor-links {
    margin-top: -90px !important;
    position: absolute;
}

.py-6 {
    padding: 140px 0;
}

@media screen and (max-width: 767px) {
    .anchor-links {
        margin-top: -90px !important;
        position: absolute;
    }
    .py-6 {
        padding: 80px 0;
    }
    .row {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Menu */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

[class*=" bi-"]::before {
    vertical-align: -0.19em !important;
}

.dropdown-item {
    color: #030068;
}

.dropdown-item:hover {
    color: #030068;
    opacity: 0.75;
}

/* Contact Form */
#contact-form input,
#contact-form textarea,
#contact-form select {
    width: 100%;
    margin-bottom: 12px;
    border: solid 1px #cecece;
    border-radius: 3px;
    padding: 6px 10px;
}
